.root {
    background-color:rgba(24, 224, 224, 0.918);
}
.all-orders {
    
    background-color: rgba(215, 250, 218, 0.589);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10%;
    max-width: 21%;
    min-width: 20%;
    margin: 5%;
    padding: 1%;
    margin-bottom: 5%;
    overflow-wrap:anywhere;
    
}

.order-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    
}


.order-info {
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}

.all-orders:hover {
    border-color: red;
}