.employee-container {
  margin-top: 4rem;
  display: flex;
  margin-top: 4rem;
  gap: 0.82rem;
  flex-direction: column;
}

.employee {
  width: 100vw;
  padding: 2.5rem;
  background-color: #1f6d8b;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Ensures it takes the parent color */
}

/* Optional: Add hover styles */
a:hover {
    text-decoration: underline; /* Adds underline back on hover, if desired */
}

#root {
    background-color: rgba(34, 15, 201, 0.178);
}

.employee-name {
    color: rgb(255, 255, 255);
}

.employee-position {
    color: rgb(255, 255, 255);
}
.employee-phone {
    color: rgb(255, 255, 255);
}